.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $marginBetween;

  &.cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  &.cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &.center {
    justify-content: center;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
